<style>

    .container {
        width: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }

    .value {
        padding: 10px;
        background: #8257e6;
        color: #FFF;
        border-radius: 6px;
        width: 15px;
        text-align: center;
        text-decoration: none;
    }

    .level {
        display: flex;
        margin: 10px;
        justify-content: space-between;
        width: 350px;
    }

    .answers {
        width: 350px;
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="container">
    <label>Olá <strong>{{name}}</strong>!</label>

    <h3>{{title}}</h3>
    <br/>
    <strong>{{description}}</strong>

    <div class="level">
        <span>Pouco Provavel</span>
        <span>Muito Provavel</span>
    </div>

    <div class="answers">
        <a class="value" href="{{link}}/1?u={{id}}">1</a>
        <a class="value" href="{{link}}/2?u={{id}}">2</a>
        <a class="value" href="{{link}}/3?u={{id}}">3</a>
        <a class="value" href="{{link}}/4?u={{id}}">4</a>
        <a class="value" href="{{link}}/5?u={{id}}">5</a>
    </div>

    <br/>
    <br/>

    <strong>Sua opinião é muito importante para nós!</strong>
    <h3>Equipe | <strong>NLW</strong></h3>
</div>